<h3>Estudando Bindings</h3>

<button (click)="onClick()">Evento (click)</button>
<button on-click="onClick()">Evento on-click</button>

<br /><br />

<button (mouseover)="onMouseOver()">Evento (mouseover)</button>
<button on-mouseover="onMouseOver()">Evento on-mouseover)</button>

<hr />

<input type="text" placeholder="Evento KeyDown" (keydown)="onKeyDown()">
<input type="text" placeholder="Evento KeyDown" on-keydown="onKeyDown()">

<br /><br />

<input type="text" placeholder="Evento KeyUp" (keyup)="onKeyUp()">
<input type="text" placeholder="Evento KeyUp" on-keyup="onKeyUp()">