<h3>Estudando Bindings</h3>

<button (click)="onClick()">Evento (click) {{ mouseClickCount }}</button>
<button on-click="onClick()">Evento on-click {{ mouseClickCount }}</button>

<br /><br />

<button (mouseover)="onMouseOver()">Evento (mouseover) {{ mouseOverCount }}</button>
<button on-mouseover="onMouseOver()">Evento on-mouseover) {{ mouseOverCount }}</button>

<hr />

<input type="text" placeholder="Evento KeyDown" (keydown)="onKeyDown($event)" [value]="userName">
<strong>Valor da variável 'userName': {{ userName }}</strong>

<br />
<input type="text" placeholder="Evento KeyDown" on-keydown="onKeyDown($event)" value="{{ userName }}">
<strong>Valor da variável 'userName': {{ userName }}</strong>

<br /><br />

<input type="text" placeholder="Evento KeyUp" (keyup)="onKeyUp($event)" [value]="userEmail">
<strong>Valor da variável 'userEmail': {{ userEmail }}</strong>

<br />

<input type="text" placeholder="Evento KeyUp" on-keyup="onKeyUp($event)" value="{{ userEmail }}">
<strong [class.bg-red]="mouseClickCount > 3">Valor da variável 'userEmail': {{ userEmail }}</strong>

<style>
 .bg-red{
   background-color: red;
 }
</style>